<div class="section">
  <!-- container -->
  <%for(i=0;i<length;i++){
    cost +=(products[i].price*products[i].amount- products[i].price*products[i].amount*(parseFloat(products[i].discount)/100));
  }
    %>
  <div class="container">
    <!-- row -->
    <div class="row">
      <form class="" action="/nhanvien" method="post">
        <div class="col-md-7">
          <!-- Billing Details -->
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Customer Information</h3>
            </div>
            <div class="form-group">
              <input class="input" type="text" name="name" placeholder="Name" required="">
            </div>
            <div class="form-group">
              <input class="input" type="email" name="email" placeholder="Email" required="">
            </div>
            <div class="form-group">
              <input class="input" type="tel" name="phone" placeholder="Phone number" required="">
            </div>
            <div class="form-group">
              <input class="input" type="date" name="date" placeholder="Date" required="">
            </div>
          </div>
          <input type="hidden" name="cost" value="<%=cost%>">
          <!-- /Billing Details -->
          <!-- Shiping Details -->
          <div class="shiping-details">
            <div class="section-title">
              <h3 class="title">Shiping address</h3>
            </div>
            <div class="input-checkbox">
              <input type="checkbox" id="shiping-address">
              <label for="shiping-address">
                <span></span>
                Ship to address?
              </label>
              <div class="caption">
                <div class="form-group">
                  <input class="input" type="text" name="shipingadd" placeholder="Shiping address">
                </div>
              </div>
            </div>
          </div>
          <!-- /Shiping Details -->
          <button type="submit" name="submit" value="finish" class="primary-btn order-submit">Place order</button>
        </div>
      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL</strong></div>
          </div>
          <div class="order-products">
          <%for(i=0;i<length;i++){
            %>
            <div class="order-col">
              <div><%=products[i].amount%>x <%=products[i].name%></div>
              <div><%=new Intl.NumberFormat().format(products[i].price)%> VNĐ</div>
            </div>
            <%
          }
          %>
          </div>
          <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class=""><%=new Intl.NumberFormat().format(cost)%> VNĐ</strong></div>
          </div>
        </div>
        <div class="aside">
          <h3 class="aside-title">Categories</h3>
          <div class="checkbox-filter">

            <div class="input-checkbox">
              <input type="radio" id="category-3" name="ht" value="Direct Bank Transfer" required="">
              <label for="category-3">
                <span></span>
                Direct Bank Transfer
              </label>
            </div>

            <div class="input-checkbox">
              <input type="radio" id="category-4" name="ht" value="Cheque Payment" required="">
              <label for="category-4">
                <span></span>
                Cheque Payment
              </label>
            </div>

            <div class="input-checkbox">
              <input type="radio" id="category-5" name="ht" value="Paypal System" required="">
              <label for="category-5">
                <span></span>
                Paypal System
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- /Order Details -->
      </form>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
