<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <form class="" action="/nhanvien" method="post">
        <div class="col-md-7">
          <!-- Billing Details -->
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Customer Information</h3>
            </div>
            <b>Company: </b><%=company%> <br>
            <b>Date:</b> <%=date%><br>
          </div>
          <!-- /Billing Details -->
          <a href="/home"><b>FINISH</b></a>
          <form class="" action="/thukho" method="post">
            <input type="hidden" name="id" value="<%=id%>">
          <button type="submit" name="submit" value="undo" class="btn btn-warning"><a href="/home"><b>UNDO</b></a></button>
          </form>
        </div>
      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>ID</strong></div>
            <div><strong><%=id%></strong></div>
          </div>
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL</strong></div>
          </div>
          <div class="order-products">
          <%for(i=0;i<length;i++){
            %>
            <div class="order-col">
              <div><%=products[i].amount%>x <%=products[i].name%></div>
              <div><%=new Intl.NumberFormat().format(products[i].price)%> VNĐ</div>
            </div>
            <%
          }
          %>
          </div>
          <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class=""><%=new Intl.NumberFormat().format(cost)%> VNĐ</strong></div>
          </div>
        </div>
      <!-- /Order Details -->
      </form>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
