<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-md-7">
          <!-- Billing Details -->
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Supplier Information</h3>
            </div>
            <b>Company:</b> <%=company%><br>
            <b>Date:</b> <%=date%><br>
          </div>
          <!-- /Billing Details -->
          <button type="submit" name="submit" value="orders" class="primary-btn order-submit"><a href="/spoders"><b>Back to orders</b></a></button>
          <%if(state=='false' && vaitro=='4'){%>
                <form class="" action="#" method="post">
                  <button type="submit" name="submit" value="spordersfinish" class="primary-btn order-submit">Finish</button>
                  <input type="hidden" name="id" value="<%=id%>">
                  <input type="hidden" name="cost" value="<%=cost%>">
                  <input type="hidden" name="date" value="<%=date%>">
                  <input type="hidden" name="company" value="<%=company%>">
                  <input type="hidden" name="state" value="<%=state%>">
                  <input type="hidden" name="username" value="<%=username%>">
                </form>
            <%}%>
        </div>
      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>ID</strong></div>
            <div><strong><%=id%></strong></div>
          </div>
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL</strong></div>
          </div>
          <div class="order-products">
          <%for(i=0;i<length;i++){
            %>
            <div class="order-col">
              <div><%=products[i].amount%>x <%=products[i].name%></div>
              <div><%=new Intl.NumberFormat().format(products[i].price)%> VNĐ</div>
            </div>
            <%
          }
          %>
          </div>
          <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class=""><%=new Intl.NumberFormat().format(cost)%> VNĐ</strong></div>
          </div>
        </div>
        <div class="payment-method">
            <label for="payment-1">
              <span></span>
            </label>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
